.about-hero {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 87vh;
  position: relative;
  background: url('./img/img-2.png') center center/cover no-repeat;
}
.about-hero-overlay {
  position: absolute;
  top: 0; left: 0; width: 100%; height: 120%;
  background: rgba(0,0,0,0.45);
  z-index: 2;
}
.about-hero .container {
  position: relative;
  z-index: 3;
}
.about-hero h1, .about-hero h3 {
  text-align: left;
  color: #fff;
} 